  
  body {
	  margin-top: 0px;
  }
  	.top-div{
		height:500px;
	    background-color:#CCFFFF;
	    background-image:url("./images/Profile_Sudi.png");
		background-repeat:no-repeat;
		background-size:contain;
		background-position:center;
		/*background-attachment:fixed;*/
		padding-top:30%;
	}
	
	.overlay-text{
		color:yellow; text-align:center; width:30%;opacity:0.5;z-index:1;margin:auto;margin-top:10%;
		position:relative;font-family: "Comic Sans MS", cursive, sans-serif;font-size:2em;
	}
	
	.logo{
		font:bold;
		font-family: "Comic Sans MS", cursive, sans-serif;
		font-size:2em;
		margin:left;
	    background-color:#CCFEEE;
		position: fixed;
		width:100%;
		z-index:9999;
		padding:6px;
	}
	
	/* CSS - Trending Blocks */
	#trendingBlocks, .blocks {
	    width: 100%;
	    height: 200px;
	    /*border: 1px solid #c3c3c3;*/
	    display: -webkit-flex; /* Safari */
	    display: flex;
			
	}
	
	.blocks input {
			:10px;
	}
    
	.blocks label{
		width:90px;
	}

	#trendingBlocks div {
	    width: 20%;
	    height: 85%;
		margin:1%;
		text-align: center;
		font: 10px arial, sans-serif;
		padding: 6px;
	}
	
	/* Main Menu*/
	#main-menu {
	    width: 60%;
	    height: 100px;
    
	    display: -webkit-flex; /* Safari */
	    display: flex;
		text-align: center;
		vertical-align: middle;
		float: right;
	}

	#main-menu div {
	    width: 20%;
	    height: 20%;}
		
	.nav-container{  background-color: #CCFFCC;/*background-image: url('./menu_background_new.png'); 
		                 background-size: 120px 90px;*/ 
		                 width: 100%; 
						 position: fixed; 
			             font: 15px arial, sans-serif;
						 margin-right: 6px; padding: 6px;
						 z-index: 9990;
					 }
		     div a 	{color: #000099;}
	.f-nav{ z-index: 9990; position: fixed; left: 50%; top: 0; width: 100%;} /* this make our menu fixed top */
	
	.nav { height: 42px;}
			.nav ul { list-style: none; }
			.nav ul li{float: left; margin-top: 6px; padding: 6px; border-right: 1px solid #ACACAC;}
			.nav ul li:first-child{ padding-left: 0;}
			.nav ul li a { }
			.nav ul li a:hover{ text-decoration: underline;
			margin-right: 6px; padding: 6px;
			z-index: 9990;
		}
	